*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    .header{
        width: 90%;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content:space-around;
        position: relative;
        padding-top:5px ;
    }
        .logo{
            height: 68px;
        }
            .logo img {
                width: 68px;
                height: 68px;
                object-fit: cover;
                border-radius: 100px;
                position:absolute;
                left: 70px;

            }
        .menu {
            width: 500px;
            height: auto;
            overflow: hidden;
            align-content: center;
        }
            .menu ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
                .menu ul li {
                    list-style: none;
                }
                    .menu ul li a {
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 400;
                        font-family: serif;
                        color:black;
                        transition: 0.2s;
                    } 
        .text-popines{
            height: auto;
            width: auto;
            align-content: center;

        }
            .text-popines nav {
                display: flex;
                flex-direction: row;
                padding-left: 10px;

            }
            .text-popines nav a {
                text-decoration: none;
                font-size: 20px;
                color:black;
            }
            .text-popines nav p {
                margin-top: 5px;
            }
                .login {
                    padding-right: 10px;
                    margin-top:5px ;
                }
                .regi {
                    padding-left: 10px;
                    margin-top:5px 
                }
            .login:hover{
                transform: scale(0.98);
                transition: 0.5s;
                color:#ff2121;
            }
            .regi:hover{
                transform: scale(0.98);
                transition: 0.5s;
                color:#ff2121;
            }
            .menu ul li a:hover {
                transform:scale(0.98);
                color:#ff2121 ;
            }
.imge{
    width: 100%;
    height: 372px;
    margin-top: 20px;
}
.imge img {
    height: 100%;
    width: 100%;
}
.container{
    width: 90%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
    .item-left{
        width: 405px;
        height: auto;
        overflow: hidden;
        margin-top:10px ;
        margin-left: 70px;
        /* margin: auto; */
    }
    
    .box-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .categary-1{
       margin: 20px 10px;
       width: 183px;
       height: 160px;
       background-color: #F1DED2;
       border-radius: 20px;
       box-shadow: 0 0 2px 1px;
       transition: 0.3s;
       box-shadow: -5px 4px 0 rgba(0, 0, 0, 0.203) ;
    }
    .categary-1:hover{
       transform: translateY(5px);
       background-color: white;

    }
    .phone{
        text-align: center;
        margin-top: 15px;
    }

    .phone a {
        text-decoration: none;
    }
    .phone a i {
        font-size: 40px;
        margin-top: 10px;
        color: #694E53;
    }
    .phone p {
        margin-top: 20px;
        color: black;
    }
    .phone a .text{
        margin-top: 30px;
        color: white;
    }
    .map{
        width: 385px;
        height: 200px;
        margin: auto;
    }
        .map img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            border: 1px solid black;
            box-shadow: -5px 4px 0 rgba(0, 0, 0, 0.203) ;
            outline: navy;
            transition: 0.3s;
        }
        .map:hover{
            transform: translateY(2px);
        }

.item-right{
    width: 556px;
    height: auto;
    overflow: hidden;
    margin-right: 70px;
}   
    .text-header {
        margin-top: 30px;
    }
    .text-header h1{
        font-size: 40px ;
        font-family: sans-serif;
    }
    .text-header p {
        margin-top: 10px;
    }
    .input-form{
        margin-top: 20px;
    }
form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  box-shadow: -5px 4px 0 rgba(0, 0, 0, 0.203) ;
  background-color: #ffff;
  height: 47px;
  transition: 0.2s;
}
input:hover{
    transform: translateY(3px);
}

input::placeholder {
  color: #888;
}
.mesage {
    height: 97px;
    padding-bottom: 60px;
    outline: none;
}
button {
  background: #ffb58a;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  box-shadow: -5px 4px 0 rgba(0, 0, 0, 0.203) ;
  box-sizing: border-box;
  border: 1px solid black;
}

button:hover {
  background: #ff9860;
}



.feater {
    width: 100%;
    height: 253px;
    margin-top: 60px;
    background-color: #422E30;
}
.rengle {
    width: 100%;
    height: 205px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin-top: 100px; */
}
    .item1 {
        width: 263px;
        height: 125px;
    }
        .item1 img {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            margin-top: 20px;
           
        }
        .item1 p {
            font-size: 14px ;
            font-family: serif;
            font-weight: 100;
            color: white;
        }
.item2 {
    width:150px ;
    height: auto;
    margin-top: 30px;

}
.item2 h1 {
    font-size:20px;
    margin-top: 10px;
    color: white;
}
.item2 p {
    font-size: 16px;
    padding-top: 7px;
    color: white;
    font-family: inherit;
}
.item4 {
    width:150px ;
    height: auto;
    margin-top: 40px;

}
.varible {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.item4 h1 {
    font-size: 20px;
    color:white;
}
.item4 p {
    font-size:16px;
     color:white;
     padding-left: 10px;
}
.fa-solid {
    color: white;
    padding-right: 10px;
}