*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    .header{
        width: 90%;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content:space-around;
        position: relative;
        padding-top:5px ;
    }
        .logo{
            height: 68px;
        }
            .logo img {
                width: 68px;
                height: 68px;
                object-fit: cover;
                border-radius: 100px;
                position:absolute;
                left: 70px;

            }
        .menu {
            width: 500px;
            height: auto;
            overflow: hidden;
            align-content: center;
        }
            .menu ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
                .menu ul li {
                    list-style: none;
                }
                    .menu ul li a {
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 400;
                        font-family: serif;
                        color:black
                    } 
.menu ul li a:hover{
    color:#ff2121 ;
}
        .text-popines{
            height: auto;
            width: auto;
            align-content: center;

        }
            .text-popines nav {
                display: flex;
                flex-direction: row;
                padding-left: 10px;

            }
            .text-popines nav a {
                text-decoration: none;
                font-size: 20px;
                color:black;
            }
            .text-popines nav p {
                margin-top: 5px;
            }
                .login {
                    padding-right: 10px;
                    margin-top:5px ;
                }
                .regi {
                    padding-left: 10px;
                    margin-top:5px 
                }
            .regi:hover{
                transform: scale(0.98);
                transition: 0.5s;
                color:#ff2121;
            }
            .menu ul li a:hover {
                transform: scale(0.98);
                transition: 0.5s;
            }
.container {
  background: url("../img/Rectangle\ 12.png") no-repeat center center/cover;
  height: 694px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Signup form box */
.signup-box {
  background:#ffffffab;
  backdrop-filter: blur(4px);
  opacity: 80%;
  border-radius: 15px;
  padding: 30px 40px;
  width: 522px;
  height: 434px;
  color: #000;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.signup-box h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #222;
  font-size: 30px;
  opacity: 100%;
}

.signup-box p {
  margin-bottom: 25px;
  font-size: 20px;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 5px;
}
.signup-box a {
    text-decoration: none;
    text-align: end;
    color:black;
    opacity: 70%;
}
input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 40px;
  outline: none;
  font-size: 14px;
  box-shadow: -5px 4px 0 rgba(0, 0, 0, 0.203) ;
  background-color: #ffff;
}

input::placeholder {
  color: #888;
}

button {
  background: #ffb58a;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
  border: 1px solid black;
}

button:hover {
  background: #ff9860;
}